* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    width:85%;
    margin: auto;
}
body{
    margin: auto;
    background-color:#8c8989 ;
}
.header{
    height: 10vh;
    background-color: black;
}
.header .wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    color: white;
    font-size: 40px;
}
li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    font-size: 25px;
    color: white;
}
a{
    color: white;
}
a:link {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: none;
}

li > ul {
    display: none;
}
li:hover ul {
    display: block;
     position: absolute;
     right: 415px; 
    background-color: black;
    margin: 0; 
}

li:hover ul li a:link {
    display: block;
 margin: 20px 10px 0; 
}
.footer{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer h1{
    font-size: 55px;
    color: #fff;
    margin-bottom: 15px;
}
.footer .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer .buttons .first{
    color: white;
    border: 2px solid white;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 20px;
}
.footer .buttons .second{
    color: black;
    background-color: white;
    padding: 12px 32px;
    border-radius: 5px;
    font-size: 20px;
}
.footer .buttons .first:hover {
    background-color: white;
    color: black;
}
.footer .buttons .second:hover {
    border: 2px solid white;
    color: white;
    background-color:#8c8989 ;
}